.profile__btn {
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  border: none;
  transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
}
.profile__btn:hover {
  opacity: .6;
}
