.post__delete {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
  border: none;
  width: 18px;
  height: 19px;
  padding: 0;
  background: url(../../../images/Trash.svg) center no-repeat;
  transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
}
.post__delete:hover {
  opacity: .6;
}
