.profile__photo-item {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	transition: filter .3s ease;
}

.profile__photo-item:hover {
	filter: brightness(.2);
}

.profile__photo-item:hover + .profile__img-edit-icon {
	opacity: 1;
}